body{
    background: rgb(180, 249, 180);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #181818;
}

#principal{
    width: 100%;
    margin: auto;
}

section h1,footer h1, nav a{
    font-weight: normal;
    text-transform: uppercase;
}

header h1{
    font-family: 'Trebuchet MS', Helvetica;
    font-size: 2.5em;
    font-weight: normal;
}

#logo, header h1{
    display: inline-block;
    margin-bottom: 0px;
}

header h2{
    font-family:'Lucida Sans Unicode','Lucida Grande';
    font-size: 1.1em;
    margin-top:0px;
    font-weight: normal;
}

nav{
    display: inline-block;
    width: 70%;
    text-align: right;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin-right: 15px;
}

nav a{
    font-size: 1.3em;
    color: #181818;
    padding: 5px;
    text-decoration: none;
}

nav a:hover{
    color: #760001;
    background-color: rgba(24, 24, 24, 0.568);
}

#banner_image{
    margin-top:15px;
    height: 400px;
    border-radius: 5px;
    background: url("../images/Zaragoza.webp") no-repeat;
    /*background-position-y: -74px;*/
    background-size : 100%;
    box-shadow: 0px 4px 4px #1c1a19;
    position: relative;
    margin-bottom: 25px;
}

#banner_description{
    position:absolute;
    bottom: 0px;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgb(24,24,24);
    font-size: 0.8em;
}

.boton{
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: green;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

article, aside{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article{
    width: 70%;
    margin-right: 15px;
}

article{
    font-size: 0.8 em;
}

aside{
    position: relative;
    width: 25%;
    background-color: rgb(44, 43, 40);
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

aside img{
    margin-right: 50px;
}

#imagenautor{
    text-align: center;
}

#imagenautor img{
    border: 1px solid #181818
}

footer{
    padding-top: 25px;
}

footer p, footer ul{
    font-size: 0.8em;
}

footer h1{
    font-size: 1.1em;
}


footer img{
    width: 75px;
    height: 100px;
}

#tweet, #misimagenes, #misamigos{
    display: inline-block;
    vertical-align: top;

}

#tweet{
    width: 28%;
}

#misimagenes{
    width: 34%;
}

#misamigos{
    width: 31%;
}

#misimagenes img{
    border: 1px solid #181818;
    margin-right: 2px;
    width: 200px;
}

#misamigos ul{
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    width: 48%;
    padding-left: 2px;
}

#misamigos{
    text-decoration: none;
    color: #760001;
}